<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkOtXZ2Ds1Y1YWzoGs3eF1UkXN4XmWsQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>334877075872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zeroc</string>
	<key>PROJECT_ID</key>
	<string>object-summer</string>
	<key>STORAGE_BUCKET</key>
	<string>object-summer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334877075872:ios:d307414f24034a4afa9cc5</string>
</dict>
</plist>